@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*{
	margin: 0px;
	padding: 0px;
}

html, body { 
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f2f2f0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: hidden !important; /* FF Scroll-leiste */ 
}

body {
	padding-top: 100px;
	font-family: arial;
	color: chucknorris;
}

.container {
	width: 450px;
	margin: 0 auto;
}

/*
 * Texte/ Links
 */
 
a:link, a:visited {
	color: slateGray;
	text-decoration: none;
}

a:hover {
	color: #444;
}

small {
	color: #999;
	font-style: italic;
}

p {
	line-height: 25px;
	text-align: justify;
	color: #444;
	font-size: 15px;

}

strong {
	font-weight: 600;	
}

ol li {
	line-height: 50px;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	text-decoration: none;
}
h1{
	font-size:1.3em;
}
h2{
	font-size:1.1em;
}
h3,h4,h5,h6{
	font-size:1em;
}

/*
 * Inputs
 */
 
input[type=text], input[type=password], textarea {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;	
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none;
	
}


footer{
	line-height: 25px;
	text-align: justify;
	color: #444;
	font-size: 15px;
	border-top:1px dashed #999;
	margin-top:10px;
}

/*
 * Installation
 */
#install input[type=text], #install input[type=email], #install input[type=password], #install textarea {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;
	width: 450px;
	height: 30px;
	margin: 0px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;	
	color: #666666;
}

#install input[type=text]:focus, #install input[type=email]:focus, #install input[type=password]:focus, #install textarea:focus {
	outline: none;
	
}

#install input[type=submit] {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;
	width: 100px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;	
	color: #d96d55;
	float: right;
	background: #fff;
	margin: 0px -12px 0px 0px;
}

#installation {
	width: 400px;
	margin: 0 auto;	
}

.installbar {
	height: 3px;
	position: absolute;
	top: 0px;
	background: #d96d55; 		
}

#schritt {
	position: absolute;
	top: 20px;
	background: #ffffff;
	display: block;
	padding: 10px 30px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	color: #666666;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.error {
	color: #d96d55;
	font-size: 12px;
	font-style: italic;
	margin: 10px 0px;
}

/*
 * Adminbereich
 */
 
.navbar {
	width: 100%;
	height: 72px;
	position: absolute;
	top: 0px;
	background: #373737;
	color: #d4d4d4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.ugglalogo {
	width: 139px;
	height: 25px;
	margin: 23px 0px 21px 44px;
}

.ugglapanel {
	width: 440px;
	height: 42px;
	float: right;
	margin: -70px 41px 0px 0px;
	padding: 27px 0px 0px 0px;
}

#ugglaprofil {
	min-width: 214px;
	height: 72px;
	float: right;
	background: #272727;
	margin-top: -26px;
	padding-right: 27px;
	display: block;
}

.userava img{
	width: 27px;
	height: 27px;
	margin: 21px  13px 0px 31px;
	border-radius: 5px;
	display:inline;
	border:1px solid #111;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.8) inset;
}

.username p{
	color: #d4d4d4;
	font-weight: 600;
	float: left;
	margin: -31px 0px 0px 68px;
	font-size: 12px;
}

#ugglanav {
	width: 280px;
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height: auto !important; /* Important Regel für moderne Browser */ 
	height: 100%; /* Mindesthöhe für den IE */ 
	overflow: hidden !important; /* FF Scroll-leiste */ 
	background: #f2f2ea;
	border-right: 1px solid #d8d7d3;
	float: left;
	margin-top: -100px;
}

.ugglacontainer {
	width: 100%;
	border-top: 7px solid #de6264;
	margin-top: -28px;
	margin-left: 280px;
	padding: 20px;
}

.ugglaop {
	width: 11px;
	height: 10px;
	float: right;
	margin: -29px 0px 0px 10px;
}

.uggladrop {
	display: none;
	background: #272727;
	padding: 15px 10px 15px 32px;
}

#ugglaprofil:hover .uggladrop {
	display: block;
	padding: 15px -4px 15px 27px;
	background:-webkit-linear-gradient(#272727, #110e0e);
	background:linear-gradient(#272727, #110e0e);
	margin-right: -27px;
}

.menu li {
	font-size: 12px;
	margin: 10px 0 0;
	list-style: none;
}
.menu li a {
	color: #d4d4d4;
}
.menu li a:hover {
	color: #eee;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-o-transition: color 1s;
	-ms-transition: color 1s;
	transition: color 1s;
}

.ugglamenu li {
	list-style: none;
	float: left;
	padding-right: 36px;
	padding-top: 3px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
}

.ugglamenu li a{
	color: #d4d4d4;
}

.ugglamenu li a:hover {
	color: #eee;
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	-o-transition: color 2s;
	-ms-transition: color 2s;
	transition: color 2s;
}
 
 

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
